* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
  font-size: 4rem;
  font-weight: bold;
  padding: 1rem 1rem 3rem 1rem;
}
.coming-soon {
  background: linear-gradient(45deg, rgba(88,89,91,1) 0%, rgba(101,147,166,1) 100%);
  color: #F2CF63;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #F2C063;
}
.day,
.hour,
.minute,
.second {
  font-size: 2rem;
}
.waiting-img{
   height: 30vh;
   padding-top: 5vh;
}